<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="Visitors">
      <file>tests/Visitors.php</file>
    </testsuite>
    <testsuite name="Table">
      <file>tests/Visitors/Table.php</file>
    </testsuite>
    <testsuite name="Script/Sub">
      <file>tests/Visitors/Script/Sub.php</file>
    </testsuite>
    <testsuite name="Script/Super">
      <file>tests/Visitors/Script/Super.php</file>
    </testsuite>
    <testsuite name="Script/Insert">
      <file>tests/Visitors/Script/Insert.php</file>
    </testsuite>
    <testsuite name="Script/Delete">
      <file>tests/Visitors/Script/Delete.php</file>
    </testsuite>
    <testsuite name="Item/Check">
      <file>tests/Visitors/Item/Check.php</file>
    </testsuite>
    <testsuite name="Twitter/Handle">
      <file>tests/Visitors/Twitter/Handle.php</file>
    </testsuite>
    <testsuite name="Twitter/Tweet">
      <file>tests/Visitors/Twitter/Tweet.php</file>
    </testsuite>
    <testsuite name="Table">
      <file>tests/Visitors/Table.php</file>
    </testsuite>
  </testsuites>
  <filter>
  <whitelist processUncoveredFilesFromWhitelist="true">
    <directory suffix=".php">src</directory>
    <exclude>
    </exclude>
  </whitelist>
  </filter>
</phpunit>
